@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --green: rgba(76, 175, 80, 1);
    --yellow: rgba(255, 195, 0, 1);
    --grey: rgba(90, 90, 90, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
